.todo-input {
  padding: 0.5rem 1rem;
  outline: none;
  background: none;
  width: 400px;
  color: #8b8787;
  border: 1px solid #8758ff;
  background-color: white;
  border-radius: 4px;
  margin-right: 1em;
  margin-top: 1em;
}

.todo-btn {
  padding: 0.5rem 1rem;
  background: #8758ff;
  border: 1px solid #8758ff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.todo-input::placeholder {
  color: #ffffff4d;
}
