.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #8758ff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.TodoItem p {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.todo-icons {
  display: flex;
  width: 3rem;
  justify-content: space-between;
  font-size: 20px;
}
.todo-icons .fa-trash-list {
  color: yellow;
  margin-left: 0.5rem;
}

.complete {
  color: #c5aeff;
  transition: 400ms ease-out;
  transform: rotate(360deg);
}

.incompleted {
  color: #fff;
  cursor: pointer;
  transition: 400ms ease-in;
}
